/* Global Styles */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background-color: #fafaf8;
}

/* Header Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 10.8rem;
  padding: 2.4rem 16rem;
  box-shadow: 0 1px 3px 0px rgba(0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.06);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  min-width: 25.5rem;
  height: 100%;
}

.navIcon {
  width: 43px;
}

.navTitle {
  display: flex;
  flex-wrap: nowrap;
  font-weight: 400;
  font-size: 32px;
  color: #141413;
}

/* Main Styles */
main {
  padding: 3rem 3rem 1rem;
}

.addIngredientForm {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  height: 3.8rem;
}

.addIngredientForm > input {
  border: 1px solid #D1D5DB;
  border-radius: .6rem;
  padding: .9rem 1.3rem;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
  flex-grow: 1;
  min-width: 10.5rem;
  max-width: 40rem;
}

.addIngredientForm > button {
  width: 15rem;
  padding: .9rem 1.7rem;
  border: none;
  border-radius: .6rem;
  background-color: #141413;
  color: #fafaf8;
  font-family: 'inter', sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 500;
}

.addIngredientForm > button::before {
  content: "+";
  margin-right: .5rem;
}